@import 'libs/bootstrap-grid.min';
@import 'libs/variables';
@import 'libs/mixins';

* {
    box-sizing: border-box;
    margin: 0;
}
.container {
    padding-left: 0;
    padding-right: 0;
}


@import 'blocks/navigation';
@import 'blocks/header';
@import 'blocks/social';
@import 'blocks/tabs';
@import 'blocks/sub';
@import 'blocks/standard';
@import 'blocks/awesome';
@import 'blocks/pricing';
@import 'blocks/customers';
@import 'blocks/design';
@import 'blocks/contacts';
@import 'blocks/footer';